 html { 
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/29264.jpg");
    background-color: #cccccc;
    background-size: auto;
    background-repeat: no-repeat;
}

h1, p, h4 {
 color: rgb(250,235,215);
 text-align: centre;
}

h3 {
  color: rgb(255, 215, 0);
  text-align: centre;
}

mark {
  background-color: rgb(220,220,220);
  color: rgb(100,149,237);
}
li {
 color: rgb(255,127,80);
}
