 html { 
    height: 100%;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-full-starry-night-sky-background-sky-backgroundastronomical-starry-image_68965.jpg");
    background-color: #cccccc;
    background-size: cover;
}

h1 {
 color: rgb(250,235,215);
}
